.Categorysection {
    width: 70%;
    height: 450px;
    background-color: rgb(255, 255, 255) !important;
    /* -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px); */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateY(3.3%);
    margin-left: 6.4%;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
}

.sectionone {
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.sectiononetwo {
    width: 300px;
    height: 100%;
    background-color: transparent;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.sectiontwo {
    width: 750px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: saturate(200%) blur(50px);
    backdrop-filter: saturate(200%) blur(50px);
    border-left: 3px solid #ffc6c7;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
}

.sectiononechild {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5px;
    cursor: pointer;

}

.sectiononechildtw {
    width: 100%;
    height: 50px;
    background-color: #506be0;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5px;
    cursor: pointer;

}

.sectiononechildthree {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllCource {
    padding-left: 5px;
    font-size: 19px;
    color: white;
}

.sectiononechildtwo {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    background-color: #ffc6c721;
    color: rgb(0, 0, 0);
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.sectiononechildtwo:hover {
    transition: all 0.4s ease-in-out;
    background-color: #ffc6c7;
    color: rgb(0, 0, 0);

}